@model SreBot.Web.ViewModels.NewRelic.ApplicationListViewModel
@inject CBot.Modules.NewRelic.ModuleConfiguration NewRelicConfig

@{
	ViewData["Title"] = "Unhealthy Applications";
}

<h2>Unhealthy Applications</h2>

@using (Html.BeginForm())
{
<div class="form-inline">
	<div class="form-group">
		<label>Account:</label>
		@Html.DropDownListFor(
			model => model.SelectedAccount,
			Model.AccountNames.Select(n => new SelectListItem { Text = n, Value = n }),
			new { @class = "form-control", @onChange = "this.form.submit()" })
	</div>
</div>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayName("Id")
			</th>
			<th>
				@Html.DisplayName("Name")
			</th>
			<th>
				@Html.DisplayName("Health Status")
			</th>
			<th>
				@Html.DisplayName("Reporting")
			</th>
			<th>
				@Html.DisplayName("Last Reported At")
			</th>
			<th>
				@Html.DisplayName("Error Rate")
			</th>
			<th>
				@Html.DisplayName("Apdex Score")
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Applications)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					<a href="@NewRelicConfig.GetApplicationUrl(item.Id.ToString())" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.HealthStatus)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Reporting)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastReportedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicationSummary.ErrorRate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ApplicationSummary.ApdexScore)
				</td>
			</tr>
		}
	</tbody>
</table>

<a class="btn btn-info btn-lg disabled" asp-area="" asp-controller="NewRelic" asp-action="All">Click here for All Applications</a>
