@using Microsoft.Extensions.Options
@using SreBot.Web
@model CBot.Modules.IncidentManagement.Models.Incident
@inject IOptions<IncidentManagementWebConfiguration> IncidentWebConfig

@{
	ViewData["Title"] = $"Incident {Html.DisplayFor(model => model.FriendlyId)}";
}

<h2>Incident #@Html.DisplayFor(model => model.FriendlyId)</h2>

<br />

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.FriendlyId)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.FriendlyId)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.FriendlyStatus)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.FriendlyStatus)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ChannelName)
		</dt>
		<dd>
			<a href="@IncidentWebConfig.Value.GetChannelUrl(Model.ChannelId)">@Html.DisplayFor(model => model.ChannelName)</a>
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.DeclaredBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DeclaredBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.DeclaredDateTimeUtc)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.DeclaredDateTimeUtc)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ResolvedBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ResolvedBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ResolvedDateTimeUtc)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ResolvedDateTimeUtc)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.PostmortermAddedBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.PostmortermAddedBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.PostmortermLink)
		</dt>
		<dd>
			<a href="@Model.CleanPostmortemLink">@Html.DisplayFor(model => model.CleanPostmortemLink)</a>
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ClosedBy)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ClosedBy)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.ClosedDateTimeUtc)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.ClosedDateTimeUtc)
		</dd>
	</dl>
</div>

<p>** All times are in UTC **</p>

<div>
	<a class="btn btn-default btn-sm disabled">Back</a>
</div>
